{% extends "base.html" %}
{% block extrahead %}
  {% set title = config.site_name %}
  {% if page and page.meta and page.meta.title %}
    {% set title = title ~ " - " ~ page.meta.title %}
  {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
  {% endif %}

  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="DietPi Documentation">
  <meta property="og:title" content="{{ title }}">
  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}">
  {% elif config.site_description %}
    <meta property="og:description" content="{{ config.site_description }}">
  {% endif %}
  {% if page.canonical_url %}
    <meta property="og:url" content="{{ page.canonical_url }}">
  {% endif %}
  <meta property="og:image" content="https://dietpi.com/images/dietpi-logo_720x720.png">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@DietPi_">
  <meta name="twitter:creator" content="@DietPi_">
  <meta name="twitter:title" content="{{ title }}">
  {% if page and page.meta and page.meta.description %}
    <meta name="twitter:description" content="{{ page.meta.description }}">
  {% elif config.site_description %}
    <meta name="twitter:description" content="{{ config.site_description }}">
  {% endif %}
  <meta name="twitter:image" content="https://dietpi.com/images/dietpi-logo_720x720.png">
{% endblock %}
{% block announce %}
  <a href="https://dietpi.com/contribute.html">Learn how to support and contribute to the DietPi project <span class="twemoji">{% include ".icons/fontawesome/regular/heart.svg" %}</span></a>
{% endblock %}
