@media only screen and (max-width: 76.1875em) {
    .md-nav__source {
        background-color: #1f4e79;
    }

    .md-nav--primary .md-nav__title {
        background-color: #9ccc00 !important;
        border-bottom: 1px solid #9ccc00 !important;
        color: #000 !important;
    }

    .md-nav--primary .md-nav__title a:hover {
        color: #164046 !important;
    }

    .md-nav--primary .md-nav__item--nested .md-nav__item--active,
    .md-nav--primary .md-nav__item--nested > .md-nav__link:focus,
    .md-nav--primary .md-nav__item--nested > .md-nav__link:hover {
        color: #9ccc00;
    }
}

/* Header */

.md-header {
    background-color: #9ccc00;
    color: #000;
}

.md-header a:hover {
    color: #164046 !important;
}

.md-announce {
    background-color: #164046;
}

/* Primary Navigation */

.md-tabs {
    background-color: #9ccc00 !important;
    color: #000;
}

.md-tabs a:hover {
    color: #164046 !important;
}

/* Link styles */

.md-typeset a {
    color: #7B952F !important;
}

.md-typeset a:hover {
    color: #164046 !important;
}

a:hover {
    color: #9ccc00 !important;
}

.md-nav__item .md-nav__link--active {
    color: #9ccc00 !important;
}

.md-typeset .tabbed-set > input:checked+label {
    color: #9ccc00 !important;
    border-color: #9ccc00 !important;
}

.md-typeset .tabbed-set > label:hover {
    color: #9ccc00 !important;
}

.md-announce a {
    color: #fff !important;
}

.md-announce a:hover {
    color: #9ccc00 !important;
}

/* Tables */

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #6c6c6c !important;
    font-size: medium;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: medium;
}

/* Footer */

.md-footer__inner {
    background-color: #9ccc00;
    color: #000;
}

.md-footer__inner a:hover {
    color: #164046 !important;
}

.md-footer-meta {
    background-color: #164046;
}

.md-footer-meta a:hover {
    color: #9ccc00 !important;

