/* Colours */
:root {
    --md-accent-fg-color: #9ccc00;
    --md-primary-fg-color: #7b952f;
    --md-primary-fg-color--dark: #164046;
}

:root>* {
    --md-footer-bg-color: #9ccc00;
    --md-footer-bg-color--dark: #164046;
}	

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title {
        background-color: #9ccc00 !important;
        border-bottom: 1px solid #9ccc00 !important;
        color: #000 !important;
    }

    .md-nav--primary .md-nav__title a:hover {
        color: #164046;
    }
}

/* Announcement */

.md-banner {
    background-color: #164046;
}

.md-banner a {
    color: #fff;
}

/* Header */

.md-header {
    background-color: #9ccc00;
    color: #000;
}

.md-header a:is(:focus,:hover) {
    color: #164046;
}

/* Primary navigation */

.md-tabs {
    background-color: #9ccc00;
    color: #000;
}

.md-tabs a:is(:focus,:hover) {
    color: #164046;
}

/* Tables */

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #6c6c6c;
    font-size: medium;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: medium;
}

/* Content tabs */

@media screen and (max-width: 44.9375em) {
    .tabbed-alternate > .tabbed-labels {
        max-width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.tabbed-alternate > .tabbed-labels.tabbed-scroll-left::before {
    display: inline-block;
    font-size: 0.9em;
    position: absolute;
    top: 0.75em;
    left: 0;
    padding-left: 0;
    padding-right: 0.64em;
    color: gray;
    background: linear-gradient(to right, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0));
    content: "\25C0";
    cursor: pointer;
}

.tabbed-alternate > .tabbed-labels.tabbed-scroll-right::after {
    display: inline-block;
    font-size: 0.9em;
    position: absolute;
    top: 0.75em;
    right: 0;
    padding-left: 0.64em;
    padding-right: 0;
    color: gray;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255) 25%);
    content: "\25B6";
    cursor: pointer;
}

/* Footer */

.md-footer {
    color: #000;
}

.md-footer__inner a:is(:focus,:hover) {
    color: #164046;
}

.md-footer-meta {
    background-color: #164046;
}

.md-footer-meta a:is(:focus,:hover) {
    color: #9ccc00 !important;
}
