/* Colours */
:root {
    --md-accent-fg-color: #9ccc00;
    --md-primary-bg-color: #9ccc00;
    --md-primary-fg-color: #7b952f;
    --md-primary-fg-color--dark: #164046;
}

:root>* {
    --md-footer-bg-color: #9ccc00;
    --md-footer-bg-color--dark: #164046;
}	

@media only screen and (max-width: 76.1875em) {
    .md-nav__source {
        background-color: #1f4e79;
    }

    .md-nav--primary .md-nav__title {
        background-color: #9ccc00 !important;
        border-bottom: 1px solid #9ccc00 !important;
        color: #000 !important;
    }

    .md-nav--primary .md-nav__title a:hover {
        color: #164046 !important;
    }

    .md-nav--primary .md-nav__item--nested .md-nav__item--active,
    .md-nav--primary .md-nav__item--nested > .md-nav__link:focus,
    .md-nav--primary .md-nav__item--nested > .md-nav__link:hover {
        color: #9ccc00;
    }
}

/* Announcement */

.md-banner {
    background-color: #164046;
}

.md-banner a {
    color: #000;
}

.md-banner a:hover {
    color: #9ccc00 !important;
}

/* Header */

.md-header {
    background-color: #9ccc00;
    color: #000;
}

.md-header a:hover {
    color: #164046;
}

/* Primary Navigation */

.md-tabs {
    background-color: #9ccc00;
    color: #000;
}

.md-tabs a:hover {
    color: #164046;
}

/* Tables */

.md-typeset table:not([class]) th {
    min-width: 15rem;
    background-color: #6c6c6c !important;
    font-size: medium;
}

.md-typeset table:not([class]) td {
    vertical-align: middle;
}

.table {
    font-size: medium;
}

/* Content tabs */

.tabbed-set.tabbed-alternate > .tabbed-labels {
  scrollbar-width: thin;
  -ms-overflow-style: unset;
}

.tabbed-set.tabbed-alternate > .tabbed-labels::-webkit-scrollbar {
  display: unset;
  height: 8px;
}

.tabbed-set.tabbed-alternate > .tabbed-labels::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 4px;
}

.tabbed-set.tabbed-alternate > .tabbed-labels::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.tabbed-set.tabbed-alternate > .tabbed-labels::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.tabbed-set.tabbed-alternate > .tabbed-labels::-webkit-scrollbar-thumb:active {
  background: #444;
}

/* Footer */

.md-footer {
    background-color: #9ccc00;
    color: #000;
}

.md-footer__inner a:hover {
    color: #164046 !important;
}

.md-footer-meta {
    background-color: #164046;
}

.md-footer-meta a:hover {
    color: #9ccc00 !important;
}
