name: Build test and quality checks
on: push
jobs:
  Actions:
    runs-on: ubuntu-20.04
    steps:
      - name: Clone DietPi-Docs repository
        id: clone
        uses: actions/checkout@v2
      - name: Install latest Node.js
        run: |
          sudo npm i -g n
          sudo n latest
      - name: Install markdownlint-cli2
        run: sudo npm i -g markdownlint-cli2
      - name: Check Markdown syntax
        # .markdownlint.yaml: https://github.com/DavidAnson/markdownlint/blob/main/doc/Rules.md
        run: markdownlint-cli2 '**.md'
      - name: Set up Python 3.7
        id: python
        if: always() && steps.clone.outcome == 'success'
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install Python dependencies
        id: python_deps
        if: always() && steps.python.outcome == 'success'
        run: |
          python3 -m pip install -U pip wheel setuptools
          pip3 install -r requirements.txt
      - name: Configure MkDocs
        id: mkdocs_config
        if: always() && steps.python_deps.outcome == 'success'
        run: |
          sed -i "/repo_url/c\repo_url: https://github.com/$GITHUB_REPOSITORY" mkdocs.yml
          sed -i "/edit_uri/c\edit_uri: edit${GITHUB_REF#refs/heads}/docs/" mkdocs.yml
      - name: Build DietPi-Docs
        id: build
        if: always() && steps.mkdocs_config.outcome == 'success'
        run: mkdocs build -sd build/docs
      - name: Check spelling in HTML files
        if: always() && steps.build.outcome == 'success'
        # .spellcheck.yml: https://github.com/marketplace/actions/github-spellcheck-action#spellcheck-configuration-file
        # .wordlist.txt
        uses: rojopolis/spellcheck-github-actions@0.5.0
      - name: Check links in HTML and Markdown files
        if: always() && steps.build.outcome == 'success'
        run: |
          GO111MODULE=on go get -u github.com/raviqqe/liche
          $(go env GOPATH)/bin/liche -x 'https://github.com' -d build -r README.md build/docs
